<!DOCTYPE html>
<html>
  <head>
    <title>womengoit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,300i,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/50b31328cb.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
